In [17]:
from glob import glob 
from fastcore.helpers import load_pickle

import pandas as pd

In [12]:
all_res = glob('results/20221117_solubility/*')

In [13]:
len(all_res)

18

In [42]:
load_pickle(all_res[0]).keys()

dict_keys(['num_train_points', 'baseline_cm', 'baseline_y_eval', 'modelname', 'predictions', 'completions', 'true', 'cm', 'representation'])

In [43]:
compiled_res = []
baseline_res = []

for res in all_res:
    loaded_res = load_pickle(res)
    if 'representation' in loaded_res: 
        this_res = {
            'representation': loaded_res['representation'],
            'train_set_size': loaded_res['num_train_points'],
            'f1_macro': loaded_res['cm'].F1_Macro,
            'f1_micro': loaded_res['cm'].F1_Micro,
            'acc': loaded_res['cm'].ACC_Macro,
        }
        compiled_res.append(this_res)

        baseline_res.append({
            'representation': loaded_res['representation'],
            'train_set_size': loaded_res['num_train_points'],
            'f1_macro': loaded_res['baseline_cm'].F1_Macro,
            'f1_micro': loaded_res['baseline_cm'].F1_Micro,
            'acc': loaded_res['baseline_cm'].ACC_Macro,
        })

In [44]:
compiled_res = pd.DataFrame(compiled_res)
baseline_res = pd.DataFrame(baseline_res)

In [41]:
compiled_res.groupby(['representation', 'train_set_size']).agg(['mean', 'std'])

                               f1_macro     f1_micro         acc
                                   mean std     mean std    mean std
representation train_set_size
InChI          10              0.079890 NaN    0.160 NaN  0.6640 NaN
               50              0.196106 NaN    0.328 NaN  0.7312 NaN
               500             0.470879 NaN    0.480 NaN  0.7920 NaN
Name           10              0.091098 NaN    0.196 NaN  0.6784 NaN
               50              0.232224 NaN    0.270 NaN  0.7080 NaN
               500             0.342906 NaN    0.362 NaN  0.7448 NaN
SMILES         10              0.158426 NaN    0.208 NaN  0.6832 NaN
               50              0.259493 NaN    0.350 NaN  0.7400 NaN
               500             0.507270 NaN    0.516 NaN  0.8064 NaN
iupac_names    10              0.128665 NaN    0.262 NaN  0.7540 NaN
               50              0.114250 NaN    0.224 NaN  0.6896 NaN
               500             0.395193 NaN    0.418 NaN  0.7672 NaN
selfies        10              0.113008 NaN    0.184 NaN  0.6736 NaN
               50              0.258298 NaN    0.336 NaN  0.7344 NaN
               500             0.495268 NaN    0.510 NaN  0.8040 NaN

In [46]:
baseline_res.groupby(['train_set_size']).agg(['mean', 'std'])

/var/folders/m9/_txh68y946s4pxy1x2wnd3lh0000gn/T/ipykernel_69174/1248321896.py:1: FutureWarning: ['representation'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  baseline_res.groupby(['train_set_size']).agg(['mean', 'std'])

                f1_macro           f1_micro                acc
                    mean       std     mean       std     mean       std
train_set_size
10              0.289182  0.031844   0.2924  0.035140  0.71696  0.014056
50              0.496076  0.004524   0.5052  0.004382  0.80208  0.001753
500             0.605614  0.004472   0.6124  0.004336  0.84496  0.001734